<header class="flex flex-row justify-stretch surface-container">
  <div class="flex container mx-auto on-surface-text">
    <div class="flex flex-1 flex-row items-center justify-between">
      <div class="title">
        <h1>Open shop</h1>
      </div>
      <a
        *ngIf="!userServices.isAuthenticated()"
        mat-button
        color="primary"
        routerLink="/sign-in"
      >
        Sign in
      </a>
      <a
        *ngIf="userServices.isAuthenticated()"
        (click)="logout()"
        mat-button
        color="primary"
        routerLink="/"
      >
        Logout
      </a>
    </div>
  </div>
</header>
